/* my colors for the project */
:root {
  /* CSS HEX */
  --midnight-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-blue: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --middle-blue: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --light-cyan: #caf0f8ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue-green);
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.timer-quiz-section {
  text-align: center;
}

.header,
h2,
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
}

.start-quiz,
h1 {
  text-align: center;
  font-size: 20px;
}

.flex-container,
.flex-items {
  text-decoration: none;
}
.section {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
}

.section-c {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 10px;
}
button {
  padding: 10px;
  display: inline-block;
  border: none;
  height: 30px;
  margin: auto;
}
