/* my colors for the project */
:root {
  /* CSS HEX */
  --midnight-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-blue: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --middle-blue: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --light-cyan: #caf0f8ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue-green);
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.timer-quiz-section {
  text-align: center;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  padding: 40px;
  height: 150px;
  color: #fff;
  background-color: var(--pacific-blue);
}
#flex-container,
nav-links {
  color: #fff;
  text-decoration: none;
}

.flex-container {
  font-size: 30px;
  color: #fff;
}

.start-quiz,
h1 {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

#start-btn {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  color: #fff;
  background-color: var(--midnight-blue);
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}

.form-input {
  padding: 10px;
  margin: 5px;
}

#form-section,
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 20px;
}
button {
  padding: 10px;
  display: inline-block;
  border: none;
  /* height: 40px; */
  margin: auto;
}

.submit-score {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-submit {
  border-radius: 20px;
  color: var(--dark-cornflower-blue);
  font-size: 15px;
  border: 2px solid #0000ff;
  cursor: pointer;
}

#list-items,
.list-items {
  list-style-type: none;
}

#question-section,
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
